
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


body{
    margin: 0 auto;
    padding: auto;
    /* width: 80%; */
    font-family: 'Quicksand';
    background-color: rgb(243, 243, 236);
}

.display-flex{
    display: flex;
}

.font-weight{
    font-weight: 700;
}

.header-section{
    justify-content: space-around;
    width: 100%;
    height: 100px;
}

.header-section-ham{
    display: none;
}

.header-section-ham> i {
    font-size: 30px;
    color: black;
}

.logo-section{
    align-items: center;
}

.contact-btn{
    align-items: center;
}
.contact-btn .btn{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    background-color: rgb(254 163 1);
    border: none;
    color: white;
    font-size: 20px;
}

.contact-btn .btn:hover{
    background-color: white;
    color: rgb(254 163 1);
    border: 2px solid rgb(254 163 1);
}

.nav-bar{
    justify-content: center;
    align-items: center;
}

.nav-links{
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-home, .nav-about, .nav-facilities, .nav-admission{
    text-decoration: none;
    align-items: center;
    font-size: 20px;
}

.logo-section>span{
    font-size: 32px;
}

.nav-home{
    color: rgb(254 163 1);
}

.nav-about{
    color: rgba(1, 172, 253, 1);
}

.nav-facilities{
    color: rgba(5, 212, 223, 1);
}

.nav-admission{
    color: rgba(93, 88, 239, 1);
}

.banner-img{
    width: 30%;
    padding: 20px;
}

.banner-img>img{
    width: 100%;
}

.banner-section{
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0px 50px;
}

.banner-content{
    padding-left: 40px;
}

.banner-content>h1>p>button{
    align-items: center;
}

.banner-content>p{
    font-size: 20px;
}

.banner-btn{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    background-color: black;
    border: none;
    color: white;
    font-size: 20px;
}

.banner-btn:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.curriculam{
    margin: 30px 0px;
    background-image: url(assets/bg.png);
    height: 600px;
}

.curriculam-head>h1{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 50px;
}

.curriculam-cart{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.curriculam-first{
    width: 30%;
    padding: 15px;
    border-radius: 10px;
    background-image: linear-gradient(rgba(222, 245, 255, 1),white);
}

.curriculam-first>.curriculam-img,h3,p,h4{
    padding: 5px;
    align-content: center;
    align-items: center;
    text-align: center;
}

.curriculam-first h4{
    color: rgba(100, 200, 255, 1);
}

.curriculam-second{
    width: 30%;
    padding: 15px;
    border-radius: 10px;
    background-image: linear-gradient(rgba(255, 244, 220, 1),white);
}

.curriculam-second>.curriculam-img,h3,p,h4{
    padding: 5px;
    align-content: center;
    align-items: center;
    text-align: center;
}

.curriculam-second h4{
    color: rgba(240, 170, 0, 1);
}

.curriculam-third{
    width: 30%;
    padding: 15px;
    border-radius: 10px;
    background-image: linear-gradient(rgba(242, 232, 255, 1),white);
}

.curriculam-third>.curriculam-img,h3,p,h4{
    padding: 5px;
    align-content: center;
    align-items: center;
    text-align: center;
}

.curriculam-third h4{
    color: rgba(135, 0, 255, 1);
}

.pre-next{
    justify-content: center;
    padding: 30px 0px;
}



.pre, .next{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    background-color: rgba(254, 163, 1, 1);
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    color: white;
}

.story{
    margin: 30px 0px 0px 0px;
    background-image: url(assets/bg.png), linear-gradient(white, rgba(255, 244, 220, 1));
}

.story-head>h1{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.story-cart{
    display: flex;
    justify-content: center;
}

.story-left{
    width: 40%;
    margin-right: 10px;
}

.story-left>div>img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

.story-rel{
    position: relative;
}

.story-ab{
    position: absolute;
}

.btn{
    height: 40px;
    width: 200px;
    border-radius: 20px;
    margin-top: -25px;
    margin-left: 25px;
    border: none;
}

.story-left-btn{
    background-color: rgba(60, 216, 232, 1);
    color: white;
}

.story-left-cont{
    width: 100%;
    background-color: white;
}

.story-left-cont{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.story-left-cont> h3 , p {
    text-align: left;
    margin-top: 0px;
    padding-top: 30px;
}

.story-right{
    width: 40%;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 10px;
}

.story-right>div>img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

.footer-section{
    width: 100%;
    background-color: rgba(1, 172, 253, 1);
    padding: 100px 200px;
}

.footer-logo{
    justify-content: flex-start;
    align-items: center;
}

.footer-content>h3{
    color: white;
    align-items: flex-start;
    text-align: left;
}

.footer-main{
    justify-content: space-between;
}

.footer-left{
    width: 30%;
}

.footer-left-p>p{
    color: white;
    word-wrap: normal;
    text-align: left;
}

.footer-mid{
    color: white;
    width: 30%;
}

.footer-mid>div>ul{
    text-decoration: none;
    list-style: none;
}

.footer-right{
    color: white;
    width: 30%;
}

.story{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.story-btn{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    background-color: black;
    border: none;
    color: white;
    font-size: 20px;
    margin: 30px 0px;
}

.story-btn:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}


@media screen and (max-width: 576px) {
    .header-section{
        justify-content: space-around;
        width: 100%;
        height: 100px;
        border: 2px solid rgb(254 163 1);
        
    }

    .header-section-ham{
        display: block;
    }

    .nav-bar , .contact-btn , .logo-section>span{
        display: none;
    }

    .banner-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 0px;
    }

    .banner-img{
        margin: 0px auto;
        padding: 0px 0px;
    }

    .banner-img>img{
        margin: 0px auto;
        padding: 0px 0px;
        width: 100%;
    }

    .banner-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 0px;
        margin: 0px auto;
    }

    .banner-content>h1,p,button{
        align-items: center;
        text-align: center;
    }

    .curriculam-cart{
        display: grid;
        width: 100%;
    }

    .curriculam-first, .curriculam-second, .curriculam-third{
        width: 100%;
        margin: 5px 0px;
    }

    .pre-next{
        display: none;
    }

    .footer-section{
        padding: 0px 0px;
    }

    .footer-main{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
   
    .story-left{
        display: none;
    }
}